/*Olga Gorbunova
olgo1700
olgo1700@student.miun.se*/

/*MEDIA ALL-GENERIC*/
@media all {
  body {
    text-align: center;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center;
    background-attachment:fixed;
    padding: 0;
    margin: 0 auto;
  }
  header {
    border-bottom: .5px dotted;
    border-color: rgb(33, 108, 200);
  }
  .print {
    display: none;
  }
  section {
    font-family: tahoma, helvetica, sans-serif;
    min-height:100%;
    margin: 0 5%;
  }
  #section1 {
    margin: 2em auto;
  }
  .colorbox {
    padding: 10px;
    width: 90%;
  }
  h1 {
    text-transform: uppercase;
    color: rgba(255, 11, 30, 0.7);
    margin: 0;
  }
  .blue {
    color: rgba(33, 108, 200, 0.7);
  }
  h5 {
    text-align: left;
    color: rgb(33, 108, 200);
    font-weight: normal;
  }
  .logo {
    margin-top: 10px;
    height: 60px;
  }
  .icon {
    height: 30px;
  }

  /*NAVIGATION*/
  nav {
    text-align: center;
    list-style: none;
  }
  nav li {
    margin: 20px;
    display: inline;
    text-transform: uppercase;
  }
  nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10pt;
    font-family: Arial;
    color: rgb(25, 87, 160);
    display: inline-block;
  }
  nav li:hover a {
    text-decoration: underline;
  }
  nav li.current a {
    color: red;
    font-weight: bold;
  }

  /*IMAGE DISPLAY AREA (for up to 8 images)*/
  .imgviewer {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 15% 15% 10px auto;
    grid-template-rows: auto;
    grid-template-areas:
      "img1small img2small . bigimg"
      "img3small img4small . bigimg"
      "img5small img6small . bigimg"
      "img7small img8small . bigimg";
    width: 90%;
    margin: 0 auto;
  }
  .imgviewer *{
    width: 100%;
  }
  #imgsmall1 {
    grid-area: img1small;
  }
  #imgsmall2 {
    grid-area: img2small;
  }
  #imgsmall3 {
    grid-area: img3small;
  }
  #imgsmall4 {
    grid-area: img4small;
  }
  #imgsmall5 {
    grid-area: img5small;
  }
  #imgsmall6 {
    grid-area: img6small;
  }
  #imgsmall7 {
    grid-area: img7small;
  }
  #imgsmall8 {
    grid-area: img8small;
  }
  .imglarge {
    grid-area: bigimg;
  }

  .imgviewer img.imglarge:hover {
      box-shadow: none;
  }
  .imgviewer img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  /*TABLE*/
  table {
    margin: 10px auto;
    font-size: 10pt;
    padding: 20px;
    text-align: left;
    background-color: white;
    color: rgb(33, 108, 200);
  }
  table td {
    padding: 10px;
  }
  td:first-child {
    font-weight: bold;
  }
  td p {
    font-style: normal;
    padding: 0;
    margin: 0;
  }

  /*FOOTER*/
  footer {
    border-top: .5px dotted;
    border-color: rgb(33, 108, 200);
    padding: 5px;
  }
  footer *{
    color: rgb(25, 87, 160);
    font-family: Arial;
    font-style: normal;
    font-size: 10pt;
    margin: 0;
  }
  footer address *{
    display: inline-block;
    font-weight: bold;
    padding: 4px;
  }
  footer address a {
    text-decoration: none;
  }
  footer address p:hover a {
    text-decoration: underline;
  }
}

/*MEDIA SCREEN-up to 480px*/
@media screen and (max-width: 480px) {
  .logo {
    margin: 10px;
    float: right;
  }
  nav {
    text-align: left;
    margin-left: 10px;
  }
  nav a {
    display: block;
  }
  h1 {
    font-size: 21pt;
  }
  address *{
    display: block;
  }
  .colorbox {
    background-color: rgba(255, 11, 30, 0.7);
  }
}

/*MEDIA SCREEN-480px to 1024px*/
@media screen and (min-width: 480px) and (max-width: 1024px) {
  nav li {
    margin: 20px 3px;
  }
  h1 {
    font-size: 24pt;
  }
  .colorbox {
    background-color: rgba(33, 108, 200, 0.7);
  }
}

/*MEDIA SCREEN-over 1024px*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 36pt;
  }
  .colorbox {
    background-color: rgba(40, 220, 140, 0.7);
  }
}

/*MEDIA PRINT*/
@media print {
  .print {
    display: block;
  }
  body {
    background-image: none;
  }
  .colorbox {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  table {
    color: black;
    font-family: "Times New Roman";
  }
  table a {
    text-decoration: none;
    color: black;
  }
  #browser {
    display: none;
  }
  nav {
    display: none;
  }
}
